.outer{
  position: absolute;
  top:0;
  right:0;
  width:60px;
  height:100vh;
  overflow: hidden;
  transition:.5s;
}
.right-side-bar{
  border-left: 3px solid 	grey;
  background-color:#fff;
  min-width:350px;
  color:#707070
}
.right-sidebar-tab{
  background-color: #A9A9A9;
  width:53px;
  min-width: 53px;
  height:150px;
  color:#fff;
  text-align: center;
  padding-top:9px;
  padding-bottom: 20px;
  transform-origin: right;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  cursor:default;
}
.right-open{
  width:410px;
  /* overflow: visible; */
}
